<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>566260629003-i2p2gj0go7ret16ojom327fqupok79r4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.566260629003-i2p2gj0go7ret16ojom327fqupok79r4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>566260629003-g2m3cavhsn592v27uu647bm2976ajh2f.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCdXah092VJBivlogWUlLGPMxxSuNji1jY</string>
	<key>GCM_SENDER_ID</key>
	<string>566260629003</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ceylonExplorer</string>
	<key>PROJECT_ID</key>
	<string>ceylonexplorer-96c46</string>
	<key>STORAGE_BUCKET</key>
	<string>ceylonexplorer-96c46.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:566260629003:ios:9de1530a577dfb9ceed10e</string>
</dict>
</plist>